<ul>
  <% notes.each do |note| %>
    <li>
      <dl>
        <dt>Title</dt>
        <dd><%= link_to note.title, note_path(note) %></dd>
        <dd><%= note.content %></dd>
      </dl>
    </li>
  <% end %>
</ul>